= form_for @answer, url:  question_answers_path(@question.id) do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2
        = pluralize(@answer.errors.count, "error")
        prohibited this answer from being saved:
      %ul
        - @answer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label "Your Answer:"
    %br/
    = f.text_area :body
    %br/
    = f.hidden_field :question_id, :value => params[:id]
  .btn
    = f.submit