<p id="notice">
  <%= notice %>
</p>
<ul>

<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label "Search:" %>
    <%= f.search_field :title_or_body_cont %>
  <div class="btn">
    <%= f.submit %>
  </div>
  </div>
<% end %>

<h4>Most Recent Questions:</h4>
  <% @results.each do |question| %>
    <li>
      <strong><%= link_to question.title.to_s, question %></strong>
        Answers Given: <%= question.answers.count %>
    </li>
    <% if question.user == current_user %>
      <ul>
        <li>
          <%= link_to 'Edit', edit_question_path(question) %>
        </li>
        <li>
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    <% end %>
  <% end %>
</ul>
<div>
  <%= paginate @results %>
</div>