%p#notice= notice
%p
  %strong Title:
  = @question.title
%p
  %strong Body:
  = @question.body
%p
  %strong User:
  = @question.user
= link_to 'Edit', edit_question_path(@question)
|
\#{link_to 'Back', questions_path}

-if !@answers.empty?
  - @answers.each do |answer|
    %ul
      %li= answer.body
      %li= answer.user.name
      %li= link_to 'Show', answer
      %li= link_to 'Edit', edit_answer_path(answer)
      %li= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' }



= render 'answer_form'
