%p#notice= notice
%p
  %strong Title:
  = @question.title
%p
  %strong User:
  = @question.user.name
%p
  %strong Body:
  = @question.body
= link_to 'Back', questions_path
= if @question.user == current_user
  = link_to 'Edit', edit_question_path(@question)

-if !@answers.empty?
  - @answers.each do |answer|
    %ul
      %li= answer.body
      %li= answer.user.name
      %li= answer.get_upvotes.size
      %li= link_to 'UpVote', question_answer_like_path(@question, answer.id), method: :put
      %li= link_to 'UnVote', question_answer_dislike_path(@question, answer.id), method: :put
      = if answer.user == current_user
        %ul
          %li= link_to 'Edit', edit_question_answer_path(@question, answer)
          %li= link_to 'Destroy', question_answer_path(@question, answer), data: { confirm: 'Are you sure?' }



= render 'answer_form'
