= form_for @answer, url: { action: "update" } do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2
        = pluralize(@answer.errors.count, "error")
        prohibited this answer from being saved:
      %ul
        - @answer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit  "Update"