%p#notice= notice
%p
  %strong Body:
  = @answer.body
%p
  %strong User:
  = @answer.user
%p
  %strong Question:
  = @answer.question
= link_to 'Edit', edit_answer_path(@answer)
|
\#{link_to 'Back', answers_path}