!!!
%html
  %head
    %title Lfox
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/navbar"
    .col-xs-6.col-md-4
    .col-xs-7.col-md-5
      = yield